*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    overflow: hidden;
}
/* home page  */
.home_page{
    border: 2px solid black;
    width: 100%;
    height: 730px;
}
.header{
    border: 2px solid blue;
    width: 100%;
    height: 78px;
    position: sticky;
}
.banner{
    border: 2px solid red;
    width: 100%;
    height: 650px;
}

/* vehicles */
.vehicles{
    border: 2px solid green;
    width: 100%;
    height: 730px;
}